version: '3'

services:
  neo4j:
    image: neo4j:latest
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
      - NEO4J_dbms_security_procedures_unrestricted=spatial.*
      - NEO4J_AUTH=neo4j/letmein
    volumes:
      - ./neo4j/logs:/logs
      - ./neo4j/data:/data
      - ./neo4j/import:/import
      - ./neo4j/conf:/conf
      - ./neo4j/plugins:/plugins
  api:
    build: .
    ports:
      - 4001:4001
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=letmein
    links:
      - neo4j
    depends_on:
      - neo4j
